<!doctype html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Choisissez le nombre de produits voulus</h1>
    <form method="post">
        <label for="nombre">Nombre de produits :</label>
        <input required type="number" min="1" id="nombre" name="nombre">

        <input type="submit" value="Enregistrer">
    </form>
</body>
</html>