{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des produits</h1>

    <ul>
        {% for product in products %}
            <li>
                {{ product.name | capitalize }}
                <a class="btn btn-link" href="{{ path('app_product_show',{ id : product.id }) }}"
                >Détail</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}