{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur l'accueil</h1>

    <a href="{{ path('app_product_index') }}" class="btn btn-outline-info"
        >Liste des produits</a>

    {% if is_granted('ROLE_VENDEUR') %}
        <a href="{{ path('app_product_add') }}" class="btn btn-outline-success"
        >Ajouter un produit</a>
    {% endif %}

{% endblock %}

