{% extends 'base.html.twig' %}

{% block body %}

    <h1>Une erreur s'est produite : nous nous excusons de la gêne occasionée!</h1>
    <p>Voulez-vous retourner à l'<a href="/">accueil</a>  ?</p>

{% endblock %}