{% extends 'base.html.twig' %}

{% block body %}

    <h1>Une erreur s'est produite : la page que vous demandez est introuvable !</h1>
    <p>Voulez-vous retourner à l'<a href="/">accueil</a>  ?</p>

{% endblock %}