<!doctype html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Une erreur s'est produite : la page que vous demandez est introuvable !</h1>

<p>Voulez-vous retourner à l'<a href="/">accueil</a>  ?</p>
</body>
</html>